body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 100px!important;
  font-size: 15px;
  vertical-align: middle;
}

.DateInput_input {
  font-size: 15px!important;
}

.iQnJQs label {
  margin-bottom: 0;
}

.fm-rounded {
  border-radius: 10px;
}

.marker-hover {
  transform: scale(1.3);
}

.fm-tooltip {
  position: absolute;
  left: 30px;
  z-index: 10;
  width: 100px;
  padding: 5px;
  background-color: #80b5ef;
  color: white;
  border-radius: 7px;
  text-align: center;
}